LOG_LEVEL=INFO
MEILISEARCH_URL=http://127.0.0.1:7700
MEILISEARCH_API_KEY=change_this_master_key
MEILISEARCH_INDEX_UID=mtg_cards
API_BASE_URL=http://127.0.0.1:8000
EMBEDDING_MODEL_PROFILE=bge_small_en_v15
EMBEDDING_ENCODE_BATCH_SIZE=256
EMBEDDING_CPU_THREADS=8
MEILI_UPLOAD_WAIT_TASKS_EVERY=8
